name: Deploy Ilmenauer Schachverein Website

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 0 1 * *" 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set current date
        run: echo "DATETIME=$(date +'%Y_%m_%d_%H_%M')" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Install Hugo Extended
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.139.4"
          extended: true

      - name: Build Hugo site
        run: |
          sed -i 's|baseURL: "https://erik-skopp.de/AdventofChess/"|baseURL: "https://adventskalender.ilmenauer-schachverein.de"|' hugo.yaml
          sed -i 's|url: "https://instagram.com/e.skopp"|url: "https://instagram.com/ilmenauer_schachverein"|' hugo.yaml
          sed -i 's|G-T4Q663C3TH|G-HT246L9E78|' hugo.yaml 
          hugo mod get
          hugo mod tidy
          hugo

      - name: Deploy files via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_SERVER }}
          username: ${{ secrets.SSH_USER }}
          source: "public/*"
          target: "/var/www/ilmenauerschachverein/adventskalender"
          rm: true
          password: ${{ secrets.SSH_PASSWORD }}

      - name: Create folder structure
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_SERVER }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /var/www/ilmenauerschachverein/adventskalender
            mv public/* .
            rm -rf public